<div class="container">
  {{ $ctrl.recibirEventoHijo()}}
  <div class="row">
    <!-- Lista Moviles -->
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" ng-class="{'selected': $ctrl.phone1 == phone || $ctrl.phone2 == phone}"
          ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)">
          <img ng-src="{{phone.imageUrl}}" class="responsive" />
          {{phone.name}}
        </li>
      </ul>
    </div>
    <!-- Primer comparador -->
    <phone-card phone1="$ctrl.phone1" phone2="$ctrl.phone2" class="col-md-5 fijado"></phone-card>
    <!-- Segundo comparador -->
    <phone-card phone1="$ctrl.phone2" phone2="$ctrl.phone1" class="col-md-5 fijado movil2"></phone-card>
  </div><!-- End Row -->
</div>