<div class="container">
  <div ng-if="$ctrl.productoCompra" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    <strong>Buena elección!</strong> Vas a comprar {{$ctrl.productoCompra.name}}.
  </div>
  <div class="row">
    <div class="col-md-2">
      <!-- Buscador Moviles -->
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-search"></i></span>
        <input id="buscador" class="form-control" ng-model="$ctrl.query" placeholder="Buscador..."/>
      </div>
      <!-- Rango Almacenamiento -->
      <label for="formControlRange">Flash: {{ ui.flash }} MB</label>
          <input type="range" 
                 min="0" 
                 max="32000"
                 numeric
                 data-ng-model="ui.flash"
                 ng-init="ui.flash = 32000"
                 class="form-control-range"
                 id="formControlRange">
      </label>
      <hr>
      <label for="formControlRange">RAM: {{ ui.ram }} MB</label>
          <input type="range" 
                 min="0" 
                 max="3000"
                 numeric
                 data-ng-model="ui.ram"
                 ng-init="ui.ram = 3000"
                 class="form-control-range"
                 id="formControlRange">    
      </label>
      <!-- Lista Moviles -->
      <ul class="list-group">
        <li class="list-group-item" ng-class="{'selected': $ctrl.phone1 == phone || $ctrl.phone2 == phone}"
          ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | storageFilter:'flash':0:ui.flash | storageFilter:'ram':0:ui.ram" ng-click="$ctrl.seleccionar(phone)">
          <img ng-src="{{phone.imageUrl}}" class="responsive" />
          {{phone.name}}
        </li>
      </ul>
    </div>
    <!-- Primer comparador -->
    <phone-card phone1="$ctrl.phone1" phone2="$ctrl.phone2" class="col-md-5 fijado"></phone-card>
    <!-- Segundo comparador -->
    <phone-card phone1="$ctrl.phone2" phone2="$ctrl.phone1" class="col-md-5 fijado movil2"></phone-card>
  </div><!-- End Row -->
</div>