<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" ng-class="{'selected': $ctrl.phone1 == phone || $ctrl.phone2 == phone}"
          ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)">
          <img ng-src="{{phone.imageUrl}}" class="responsive" />
          {{phone.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-5" ng-show="$ctrl.phone1">
      <phone-card phone1="$ctrl.phone1" phone2="$ctrl.phone2"></phone-card>
    </div>
    <div class="col-md-5" ng-show="$ctrl.phone2">
      <phone-card phone1="$ctrl.phone2" phone2="$ctrl.phone1"></phone-card>
    </div>
  </div>
</div>